.inline {
  display: inline;
}

.searchbox {
  width: 500px;
  background: white;
  border:solid 1px #d9d9d9;
}

.search-container {
  position: relative;
}

:host /deep/ .auto-suggest-field {
  position:absolute;
  left: 0px;
  top: 20px;
  z-index: 100;
  cursor: pointer;
  background-color: white;
  border: 1px solid gainsboro;
}

.photo-nav-bar {
  top: 0px;
  left: 0px;
  width: 65px;
  float: left;
}

.photo-app-content {
  margin: 0 0 0 65px;
}

