input {
  font-size: 40px;
  width: 100%;
}

.large {
  font-size: 40px;
}

.responsive-image {
  width:100%;
  height: auto;
}

.full-length {
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 30px;
  width: 100%;
}
