<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"><img class="responsive-image" src="../../../assets/img1.jpg">People</div>
  <div class="mdl-cell mdl-cell--2-col"><img class="responsive-image" src="../../../assets/img1.jpg">Places</div>
  <div class="mdl-cell mdl-cell--2-col"><img class="responsive-image" src="../../../assets/img1.jpg">Landscapes</div>
  <div class="mdl-cell mdl-cell--2-col"><img class="responsive-image" src="../../../assets/img1.jpg">Sunrises</div>
  <div class="mdl-cell mdl-cell--2-col"><img class="responsive-image" src="../../../assets/img1.jpg">Beaches</div>
  <div class="mdl-cell mdl-cell--2-col"><img class="responsive-image" src="../../../assets/img1.jpg">Cars</div>
</div>
