<nav class="mdl-navigation">
  <a routerLink="/inbox" (click)="toggleDrawer()" routerLinkActive="active" class="mdl-navigation__link" href=""><i class="material-icons right-padding-5">email</i><span class="mdl-badge" [attr.data-badge]="unreadEmailCount">Inbox</span></a>
  <a class="mdl-navigation__link" (click)="toggleDrawer()" href=""><i class="material-icons right-padding-5">forum</i>Send</a>
  <a routerLink="/starred" (click)="toggleDrawer()" routerLinkActive="active" class="mdl-navigation__link" ><i class="material-icons right-padding-5">star</i>Starred</a>
  <a routerLink="/photos" (click)="toggleDrawer()" routerLinkActive="active" class="mdl-navigation__link" href=""><i class="material-icons right-padding-5">photo</i>Photos</a>
</nav>
