.content-wrapper {
  margin: 0px 0px 15px 15px;
}

#user-pic {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  border-radius: 10px;
}

.email-content {
  margin-top: 10px;
}

.sender {
  font-style: italic;
  color: grey;
}
