<div *ngIf="!currentUser">
  <button (click)="login()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
    Login
  </button>
</div>
<div *ngIf="currentUser">
  <img id="user-pic" [src]="currentUser.profilePicturePath">
  <button id="demo-menu-lower-right"
          class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">more_vert</i>
  </button>

  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      for="demo-menu-lower-right">
    <li class="mdl-menu__item">Logout</li>
    <li class="mdl-menu__item">Profile</li>
  </ul>
</div>
