.bottom-right {
  position: fixed;
  right: 3%;
  bottom: 20px;
  z-index: 1;
}

.email-list {
  cursor: pointer;
}

.section--center {
  max-width: 860px;
  margin-top:20px;
  margin-bottom: 20px;
}

.mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}

ul {
  width: 100%;
}

#user-pic {
  position: relative;
  float:left;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
  margin-right: 10px;
}
