.responsive-image {
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.image-group-link {
  color: dimgrey;
  cursor: pointer;
}

.active-group {
  font-weight: bold;
}
