.album-select-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}

#container > div {
  width: 100px;
  height: 100px;
}

.selected-photos {
  font-size: 30px;
}

a {
  color: inherit;
}
