<div class="album-select-bar">
  <div>
    <button (click)="closeBar()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div><span class="selected-photos">{{selectedPhotos.length}} selected</span></div>
  <div>
    <button (click)="gotoCreateAlbum()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
      <i class="material-icons">done</i>
    </button>
  </div>
</div>
